/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emory[Cc]aptures/
/[Rr]ecorder/
/[Ss]amples~/
/AugMuse_Build/
/AugMuse_Unity/

*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.apk
*.ipa
*.unitypackage
*.app
*.exe
*.dmg

mono_crash*.json
sysinfo.txt
.DS_Store
Thumbs.db

.vs/
.idea/
ExportedObj/
il2cpp_cache/
